<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Pet Depot</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if='showProduct'>
            <figure>
                <img v-bind:src="product.image">
            </figure>
            <h2 v-text="product.title"></h2>
            <p v-html="product.description"></p>
            <p>Price:{{product.price}}</p>
            <input type="button" value="Add to Cart" v-on:click="addItem" v-if="canAddToCart">
            <input type="button" value="Add to Cart" disabled='disabled' v-else>       
            </div>
            <div v-else>
                <h2>Checkout</h2>
            </div>

        </main>
    </div>
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: "Vue.js Pet Depot",
                product: {
                    id: 1001,
                    title: "Cat Food, 25lb Bag",
                    description: "A 25 pound bag of <em>irresistible</em>," + " organic goodness for your cat.",
                    price: 2000,
                    image: "images/cat.jpg",
                    availableInventory: 5
                },
                cart: [],//array to store items in shopping cart
                showProduct: true
            },
            methods: {
                addItem: function () {
                    this.cart.push(this.product.id);
                },
                showCheckout:function (){
                    this.showProduct = this.showProduct ? false : true;
                }
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length || "";
                },
                canAddToCart: function () {
                    return this.product.availableInventory > this.cartItemCount;
                }
            }

        });
    </script>

</body>

</html>